
*{
  padding: 0;
  margin: 0;

}
.container{
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
font-family: sans-serif;
}
.all{
  text-align: center;
  max-width: 100%;
  margin: auto;
}
.today{
  text-align: center;
  max-width: 100%;
  margin: auto;
}
.inp{
  margin-bottom: 15px;
  padding: 10px;
  color: red;
  font-size: 18px;
  border-color: blueviolet;
  display: block;
  outline: navajowhite;
  margin: auto;

}
.all > h1{
  color: dodgerblue;
  font-size: 40px;
}
.pop{
  font-size: 20px;
    color: coral;
}
.confirmed{
  font-size: 20px;
  color: #cd0202;
}
.d{
  font-size: 20px;
  font-weight: bold;
}
.rec{
  color: #ab00ff;
  font-size: 20px;

}
.all > div,.today > div{
  margin-top: 10px;

}
.content{
  background: #bfe3ff;
  width: 50%;
  margin: auto;
  margin-top: 20px;
  padding: 10px;

}
.today > h2{
  color: white;
  margin-top: 10px;
  font-size: 30px;
}
.cv{
  text-align: center;
  margin-bottom: 18px;
  font-size: 50px;
  color: red;
}